<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="grid grid-cols-2 gap-4 bg-white shadow-md rounded-md overflow-hidden max-w-2xl mx-auto mt-16">
      <div >
        <div class="bg-gray-100 py-2 px-4">
          <h2 class="text-xl font-semibold text-gray-800">Picture List</h1>  
        </div>

        <ul class="divide-y divide-gray-200">
          {{ range .Pictures }}
          <li class="flex items-center py-4 px-6">
            <span class="text-gray-700 text-lg font-medium mr-4">{{ .Id }}</span> 
            <span class="text-gray-800 text-lg font medium">{{ .Name }}</span>
          </li>
          {{ end }}
        </ul>
      </div>  

      <div>
        <div class="bg-gray-100 py-2 px-4 mb-4">
          <h1 class="text-xl font-semibold text-gray-800">Upload picture</h1>
        </div>
        <form class="max-w-sm mx-auto">
          <div class="mb-5">
            <label for="picture-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
            <input type="text" name="name" id="picture-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" />
          </div>
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button> 
        </form>
      </div>
    </div>
  </body>
</html>
